<div class="row" id="food-delivery-strip">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2" id="pitch">
        <h2 class="text-center bold">Food delivery from Sendhut</h2>
        <h5 class="text-center">feel-good office lunch. everyday, 11:30am - 2:30pm</h5>
      </div>
    </div>
  </div>
  <hr/>

  <div class="row align-items-center">
    <div class="col-md-10 offset-md-2" id="food-how-it-works">
      <div class="row">
        <div class="col-md-5" id="group-order-explainer">
          <h5>How it works</h5>
          <ul>
            <li>
              Choose a restaurant and share a unique link with your team to sign up.
            </li>
            <li>
              You can also set spending limit for each person who's ordering — perfect for those company lunch orders.
            </li>
            <li>Everyone adds their items and the order is delivered together at lunchtime.</li>
          </ul>
         <a href="http://food.sendhut.com" class="btn btn-primary">Order now</a>
        </div>
        <div class="col-md-7" id="meal"></div>
      </div>
    </div><!--// food-how-it-works -->
  </div>
</div> <!--// food-delivery-strip -->
