{% load static %}
{% load render_bundle from webpack_loader %}
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap.js' %}"></script>
<script src="{% static 'vendor/holder.js' %}"></script>
<!-- <script src="{% static 'vendor/scrollPosStyler.js' %}"></script> -->

<script src="{% static 'bundle.js' %}"></script>

<script type="text/javascript">
<!-- var csrftoken = Cookies.get('csrftoken'); -->

<!-- function csrfSafeMethod(method) { -->
<!--     // these HTTP methods do not require CSRF protection -->
<!--     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method)); -->
<!-- } -->

<!-- $.ajaxSetup({beforeSend: function(xhr, settings) { -->
<!--     if (!csrfSafeMethod(settings.type) && !this.crossDomain) { -->
<!--         xhr.setRequestHeader("X-CSRFToken", csrftoken); -->
<!--     } -->
<!-- }}); -->
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&language=en&region=NG" async defer></script> -->

<!-- <\!-- Global site tag (gtag.js) - Google Analytics -\-> -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116676555-1"></script> -->
<!-- <script> -->
<!--   window.dataLayer = window.dataLayer || []; -->
<!--   function gtag(){dataLayer.push(arguments);} -->
<!--   gtag('js', new Date()); -->

<!--   gtag('config', 'UA-116676555-1'); -->
<!-- </script> -->
