{% load static %}
{% load render_bundle from webpack_loader %}
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap.js' %}"></script>
<script src="{% static 'vendor/holder.js' %}"></script>

<script src="{% static 'bundle.js' %}"></script>

<script type="text/javascript">
<!-- var csrftoken = Cookies.get('csrftoken'); -->

<!-- function csrfSafeMethod(method) { -->
<!--     // these HTTP methods do not require CSRF protection -->
<!--     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method)); -->
<!-- } -->

<!-- $.ajaxSetup({beforeSend: function(xhr, settings) { -->
<!--     if (!csrfSafeMethod(settings.type) && !this.crossDomain) { -->
<!--         xhr.setRequestHeader("X-CSRFToken", csrftoken); -->
<!--     } -->
<!-- }}); -->
</script>

<!-- Start of Async Smallchat Code -->
<script src="https://embed.small.chat/T0BHKTFBLGD81P2EKH.js" async></script>
<!-- End of Async Smallchat Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116676555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116676555-1');
</script>
