{% load static %}
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/clipboard.min.js' %}"></script>
<script src="{% static 'vendor/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap.js' %}"></script>
<script src="{% static 'vendor/holder.js' %}"></script>
<script src="{% static 'vendor/scrollPosStyler.js' %}"></script>
<script src="{% static 'vendor/js.cookie.js' %}"></script>
<script src="{% static 'vendor/jquery.serialize-object.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places">

<script src="{% static 'js/app.js' %}"></script>

<script type="text/javascript">
var csrftoken = Cookies.get('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
}});
// List your words here:
var words = [
'done right',
'made easy',
], i = 0;

setInterval(function(){
  $('#hero-title-dynamic').fadeOut(function(){
  $(this).html(words[i=(i+1)%words.length]).fadeIn('slow', 'swing');
});
// 7 seconds
}, 7000);

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116676555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116676555-1');
</script>
