@font-face {
    font-family: Cereal;
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_Lt.eot);
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_Lt.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_Lt.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Cereal;
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_Bk.eot);
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_Bk.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_Bk.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Cereal;
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_Bd.eot);
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_Bd.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_Bd.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Cereal;
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_XBd.eot);
    src: url(fonts/Cereal/EOT/AirbnbCereal_W_XBd.eot#) format("eot"), url(fonts/Cereal/WOFF/AirbnbCereal_W_XBd.woff) format("woff");
    font-weight: 700;
    font-style: normal
}
