{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Delivering Happiness">
    <meta name="author" content="Sendhut, Tade Faweya, Yao Adzaku">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sendhuthq" />
    <meta name="twitter:creator" content="@sendhuthq" />
    <meta property="og:url" content="sendhut.com" />
    <meta property="og:title" content="Sendhut" />
    <meta property="og:description" content="Deliver anything within Lagos, ASAP or schedule later" />
    <meta property="og:image" content="{% static 'images/icon-yellow.png' %}" />

    {% block extra_head_meta %}{% endblock %}
    <title>Sendhut | {% block title %} {{ page_title }} {% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/sendhut-icon.png' %}">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Sendhut",
      "url": "http://sendhut.com/",
      "logo": "{% static 'images/icon-yellow.png' %}",
      "sameAs": [
        "https://twitter.com/sendhuthq",
        "https://www.facebook.com/sendhuthq",
        "https://www.instagram.com/sendhuthq"
      ],
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "08096699966‬",
          "contactType": "customer service"
        },
        {
          "@type": "ContactPoint",
          "telephone": "08169567693",
          "contactType": "customer service"
        }
      ]
    }
    </script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="overlay"></div>
    {% if user.is_authenticated %}
      {% include "partials/top_nav-logged-in.html" %}
    {% else %}
      {% include "partials/top_nav.html" %}
    {% endif %}
    <main role="main" class="container">
      {% include "partials/messages.html" %}
       {% block masthead %}{% endblock %}
      <div class="page-header">
        <h4 class="bold">
          {% block page_header %} {% endblock %}
        </h4>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main><!--// main -->
    <div class="container-fluid">
      {% block main_bottom %}
      {% endblock %}
    </div>
    {% include "partials/footer_static.html" %}

    {% include "partials/footer.html" %}
    {% block extra_js %}{% endblock %}
    {% block extra_css %}{% endblock %}
  </body>
</html>
