{% extends "base.html" %}

{% block content %}
  <div id="faqs" class="col-sm-10">
    <h4 class="title">Frequently Asked Questions </h4>
    <ul id="faqs-menu">
      <li><a href="#q0">What are your delivery hours?</a></li>
      <li><a href="#q1">Where do you deliver?</a></li>
      <li><a href="#q3">How much does delivery cost?</a></li>
      <li><a href="#q4">How do I pay?</a></li>
      <li><a href="#q5">Can I schedule delivery in advance?</a></li>
      <li><a href="#q6">Who makes the deliveries?</a></li>
      <li><a href="#q7">What sort of drivers does Sendhut employ?</a></li>
      <li><a href="#q7">Do I have to tip? </a></li>
    </ul>

    <h4 id="q0">Answers</h4>
    <hr>
    <a class="question" id="q1">
      What are your delivery hours?
    </a>
    <p>Everyday, we deliver from 9:00 AM - 5:00 PM</p>

    <a class="question" id="q2">Where do you deliver?</a>
    <p>
      We currently deliver within Lagos only, with new locations being added soon. If you're outside of our service area, still share your interest — it'll help us pick our next location.
    </p>

    <a class="question" id="q3">How much does delivery cost?</a>
    <p>Our pricing is simple. Delivery fees are based on the distance between pickup and dropoff locations, and the size and nature of the item.</p>

    <a class="question" id="q4">How do I pay?</a>
    <p>
      We accept direct bank transfers. You may also pay cash on delivery or via our POS when the rider arrives. If you make more than 50 deliveries in a week, we can
      offer you a weekly payment plan.
    </p>

    <a class="question" id="q5">Can I schedule delivery in advance?</a>
    <p>Yes! You can schedule for up to 3 days ahead</p>

    <a class="question" id="q6">Who makes the deliveries?</a>
    <p>Sendhut's fleet of drivers will deliver your items
      Our driver couriers are highly experienced, yet undergo a thorough training process prior to handling orders.
    </p>

    <a class="question" id="q7"> Do I have to tip?</a>
    <p>This is completely up to you. Our riders make the magic happen, so tips are appreciated but  not required. Riders receive 100% of all tips.
    </p>
  </div>
{% endblock %}
