$rem-fallback: true;
$black: #231f1a;
$grey: #f8f8f9;
$orange-happy: #ffeae4; // orange happy
$orange-light-happy: #faf8f8; // light orange

$flinto-blue: #365a87;
$info: $flinto-blue;
$primary: $flinto-blue;
$success: $flinto-blue;

$light-grey: #f8f8f9;
$body-color: $black;
$font-family-base: Cereal, Helvetica Neue, Helvetica, Arial, Lucida, sans-serif;

@import "../fonts/source-sans-pro/source-sans-pro.css";
@import "../fonts/Cereal/cereal.css";
@import "bootstrap/bootstrap";
@import "_rem";
//@import "_stratos";

@mixin circle($width, $border-color:$grey, $bg-color:$white) {
  width: $width;
  height: $width;
  background: $bg-color;
  border: 1px solid $border-color;
  color: $border-color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  @include rem(font-size, 14px);
  font-weight: 400;
  //min-height: 75rem;
  padding-top: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4em;
  @include rem(margin-bottom, 60px); /* Margin bottom by footer height */
}

.hero-title {
  font-size: 72px;
  line-height: 74px;
  font-weight: 600;
}

.hero-text{
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.body-home {
  padding-top: 8rem;
}

.navbar {
  background-color: $white;

  #contact-tel {
    @include rem(line-height, 20px);
    @include rem(font-size, 15px);
    li {
      @include rem(padding-top, 7px);
      @include rem(padding-right, 10px);
    }
  }

  nav {
    a {
      color: $black;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .navbar-brand {
    img {
      @include rem(height, 25px)
    }
    color: #001625;

    .navbar-toggler-icon {
      color: #000
    }
  }
}


#benefits {
  .benefit {
    padding: 40px 10px;
  }
}

.masthead-wrapper-plain {
  @extend .row;
  min-height: 500px;
  #pitch {
    padding: 20px;
    margin-top: 30px;
  }
  #app-preview {
    background: url(images/app-preview.png) no-repeat top;
    background-size: cover;
    @include rem(width, 440px);
    @include rem(min-height, 320px);
  }
}


.masthead-wrapper {
  @extend .row;
  background-color: $grey;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  box-shadow: 0 5px 17px rgba(34,46,58,.1);
  #fleet-join, #pitch {
    background-color: $white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 5px 17px rgba(34,46,58,.1);
  }
}

#fleet-join-wrapper {
  background: url(images/new/20180630_114516.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#app-wrapper {
  /* background: url(images/new/20180630_114516.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* box-shadow: 0 5px 17px rgba(34,46,58,.1); */
}

#pitch {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.page-header {
  h1, h4 {
    //@include rem(margin-bottom, 35px)
    //@include rem(margin-top, 20px);
  }
}


*[data-href] {
  cursor: pointer;
}

a.no-deco {
  color: $black;
  text-decoration: none;
}

#testimonials-wrapper {
  background-color: $grey; //#f6f9fc;
  padding: 60px 40px 0 40px;
  form {
    padding-left: 0;
  }
}
#customers {
  padding-bottom: 60px;

  .customer-quotes {
    padding-top: 20px;
    .customer-quote {
      .card {
      top: 0px;
      border: 1px solid $grey;
      border-radius: 8px;
      box-shadow: 0 5px 17px rgba(34,46,58,.1);
      line-height: 1.75em;
      -webkit-transition: top 150ms ease-out;
      transition: top 150ms ease-out;

        &:hover {
          top: -10px;
          cursor: pointer
        }
      &:after{
	      content: ' ';
	      position: absolute;
	      left: 20px;
        right: auto;
        top: auto;
	      bottom: -20px;
	      border: 22px solid;
	      border-color: transparent transparent transparent $white;
        }
      }
      .customer-info {
        border: none !important;
        background-color: transparent !important;
        margin-left: 5px;
        margin-top: 10px;
        padding: 5px;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .customer-name {
        font-size: 18px;
        padding-top: 10px;
      }
    }
  }
}

.sps {
  padding: 1em .5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--blw {
  border-bottom: 1px solid #e6e6e6;
}

#how-it-works {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f9fc;

  .fleet-icon {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

#ride-estimate {
  background-color: $grey;
  padding: 60px 30px;
  div {
    width: 100%;
  }
  h3, h4 {
    padding-left: 14px;
  }
  #estimate-form-wrapper {
    padding: 90px 10px;
  }
  #estimate-map {
    min-height: 380px;
  }
  form {
    input.form-control {
      margin-bottom: 10px;
    }
    .input-group-addon {
      padding: 0px;
      height: 38px;
    }
    #pickup {
      border-right: 0;
    }
    #pickup-addon {
      background-color: white;
      border-left: 0 !important;
      cursor: pointer;
    }

    #dropoff-addon {
      cursor: pointer;
    }
  }
  svg {
    background-color: transparent;
    margin-top: -10px;
  }
  .line {
    stroke: #c6c6c6;
    stroke-width: 1;
    marker-start: url(#marker-start);
    marker-end: url(#marker-end);
  }
  #marker-start circle {
    fill: #2cac10;
    stroke-width: 1;
    stroke: #2cac10;
  }

  #marker-end circle {
    fill: #f32f00;
    stroke-width: 1;
    stroke: #f32f00;
  }
}


.footer-try {
  padding: 60px 30px;
}


#fleet-strip {
  background-color: #f6f9fc;
  padding: 60px 50px 60px 50px;
  #fleet-pic {
    box-shadow: 0 5px 17px rgba(34,46,58,.1);
  }
}

.menu-header {
  margin-top: 20px;
}

button.close {
  cursor: pointer;
}

#partner-faqs {
  padding: 40px;
  background-color: $grey;

}

.faqs {
  .title {
    margin-bottom: 20px
  }
  .question {
    padding: 10px 30px 0 0;
    font-weight: bold !important;
    font-size: 15px;
    font-family: Arial;
  }
  #faqs-menu {
    padding-left: 18px;
    li {
      padding: 5px
    }
  }
}


#about-contact {
  margin-top: 40px;
  @include rem(border-left, 2px solid $grey);
}

.welcome-callout {
  font-family: stratos, Helvetica Neue, Helvetica, Arial, sans-serif
}



.invalid-feedback {
  display: block !important;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include rem(height, 60px); /* Set the fixed height of the footer here */
  @include rem(line-height, 60px); /* Vertically center the text there */
  @include rem(border-top, 1px solid $grey);
  a {
    color: $black !important;
  }
  ul#footer-nav {
    margin-bottom: 0;
  }
}

#food-delivery-strip {
  background-color: $white;
  padding-bottom: 60px;
  @extend .jumbotron;
  padding-top: 20px;

  /* #pitch { */
  /*   background-color: transparent; */
  /*   @include rem(padding-bottom, 10px); */
  /*   @extend .jumbotron; */

  /*   .card { */
  /*     background-color: transparent; */
  /*     border: 0; */
  /*   } */
  /* } */

  #food-how-it-works {
    background-color: $white;
    box-shadow: 0 5px 17px rgba(34,46,58,.1);

    #group-order-explainer {
      padding-top: 60px;
      padding-left: 30px;
      padding-bottom: 10px;
      background-color: $white;
    }

    #meal {
      background: $white url(images/food-banner.png) no-repeat top;
      @include rem(width, 380px);
      @include rem(min-height, 290px);
      background-size: cover;
    }
  }
}

// Medium viewport
@include media-breakpoint-down(md) {
  .benefit {
    padding: 10px !important;
  }
}

// Small viewport
@include media-breakpoint-down(sm) {

  h1, .h1 { font-size: .8 * $h1-font-size; }
  #hero-merchant {
    display: none !important;
  }
  #estimator-strip {
    padding: 20px;
    #estimate-map {
      display: none !important
    }
    #estimate-form-wrapper {
      padding: 10px;
    }
  }
}

// MISCELLANEOUS
.btn {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.icons {
  text-align: center;
}

.icon {
  width: 20px;
  margin: 7px 9px 9px;
}

.form-control:focus {
  border-color: $input-border-color !important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
